
@{
}

<h1>Seleccionar tabla</h1>

<form asp-action="VerTabla" method="post">

    <select name="tabla">
        <option value="Categoria">Categoría</option>
        <option value="Piso">Piso</option>
        <option value="EstadoHabitacion">Estado Habitación</option>
        <option value="TipoPersona">Tipo Persona</option>
        <option value="Producto">Producto</option>
        <option value="Persona">Persona</option>
        <option value="Habitacion">Habitación</option>
        <option value="Recepcion">Recepción</option>
        <option value="Venta">Venta</option>
        <option value="DetalleVenta">Detalle Venta</option>
    </select>

    <button type="submit">Ver datos</button>

</form>
